/* Base Styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #bdaeae;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  text-align: center;
  padding: 1rem;
  color: #000000;
  font-size: 1.5rem;
}

header h2 {
  margin: 0;
}

article p {
  text-align: center;
}

/* Main Layout */
main {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
  /* Allows content to wrap on smaller screens */
}

/* Container */
div.container {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(201, 191, 191);
  border: 2px solid #c41818;
  padding-inline: 5vh;
  text-align: center;
  /* Add padding for better spacing */
}

/* Form Elements */
#gender, input[type="number"] {
  width:100%;
  padding: 1vh;
  margin-bottom: 1vh;
  border: 1px solid #c41818;
  border-radius: 5px;
  font-size: 1em;
}

label {
  font-weight: bold;
  text-align: left;
  display: block;
}

form h2 {
  text-align: center;
  font-size: 1.5rem;
  /* Increase heading size slightly */
}

/* Buttons */
#calculate,
#reset {
  width: 48%;
  padding: 3vh;
  border-radius: 7.5px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  /* Add margin for better spacing */
}

.button-calculate {
  background-color: #8b8b8b;
  color: white;
}

.button-calculate:hover {
  background-color: rgb(158, 143, 143);
}

.button-reset {
  background-color: #e74c3c;
  color: white;
}

.button-reset:hover {
  background-color: red;
}

/* Table Styling */
table {
  width: 100vh;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2vh;
}

tr {
  height: 5vh;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Sections and Content */
section>p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

ul li,
p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

aside {
  padding-left: 0;
  /* Remove large padding for better mobile layout */
}

/* Footer */
footer {
  text-align: center;
  color: #000000;
}

footer p {
  font-size: 0.75rem;
}
