form {
    padding:  12px;
    background-color: aliceblue;
}

main {
    display:flex;
}

aside {
    padding: 48px;
}

.button {
    height: 32px;
    border: none;
    border-radius: 0;
}

.bg-cornsilk {
    color: lightskyblue
}

.berat-badan {
    width: 50%;
    height: 15px;
    font-family: ui-monospace;
    font-size: 14px;
}

footer {
    text-align: center;
}